{
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "assert": true,
    "expect": true,
    "it": true,
    "jest": true
  },
  "plugins": ["prettier", "jest"],
  "extends": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": 1,
    "no-undef": 1,
    "require-await": "warn"
  }
}
